@font-face {
  font-family: 'Reforma Grotesk';
  src: url('../fonts/ReformaGroteskMedium.woff2') format('woff2'),
      url('../fonts/ReformaGroteskMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reforma Grotesk';
  src: url('../fonts/ReformaGroteskBold.woff2') format('woff2'),
      url('../fonts/ReformaGroteskBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reforma Grotesk';
  src: url('../fonts/ReformaGroteskLight.woff2') format('woff2'),
      url('../fonts/ReformaGroteskLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reforma Grotesk';
  src: url('../fonts/ReformaGroteskDemi.woff2') format('woff2'),
      url('../fonts/ReformaGroteskDemi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

